{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>We Are Upload</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% tailwind_css %}
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    <title>{% block title %}{% endblock title %}</title>

</head>

<body class="bg-green-600 font-serif leading-normal tracking-normal">
{% block nav %}
    {% include 'partials/nav.html' %}
{% endblock nav %}

{% block content %}{% endblock content %}
{% block footer %}{% endblock footer %}


<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>
