{% load static %}

<h2 class="text-center text-gray-100 text-2xl p-3 m-3">About The Academic Board</h2>
<div class="container mx-auto md:grid md:grid-cols-2 md:gap-2 text-gray-200 p-3 m-3">
    <div class="items-center justify-center p-auto m-auto">
        <section class="flex items-center justify-center">
            <h1 class="text-5xl">The Academic Board</h1>
        </section>
        <p class="items-center content-center text-justify p-3 m-3 text-gray-100 font-normal tex-6xl">
            The Academic Board is the governing body of the University that formulate and enchances the academic
            policies of the University,
            to regulate and approve the programme of studies and examinations held in the University
        </p>
        <div class="relative overflow-x-auto shadow-sm sm:rounded-lg items-center  justify-center w-1/2 m-7 mx-auto rounded">

        </div>
    </div>
    <div>
        <img src="{% static 'images/conf.jpg' %}" class="rounded-sm shadow-lg">
    </div>
</div>
<div class="container mx-auto md:grid md:grid-cols-2 md:gap-2 text-gray-200 p-3 m-3">
    <div>
        <img src="{% static 'images/meeting_black.jpg' %}" class="rounded-sm shadow-xl">
    </div>
    <div class="items-center justify-center p-auto m-auto">
        <section class="flex items-center justify-center">
            <h1 class="text-4xl items-start">COMPOSITION OF THE ACADEMIC BOARD</h1>
        </section>
        <ul class="list-disc p-3 mx-2 text-gray-100 font-normal tex-6xl not-italic space-y-1">
            <li>The Vice Chancellor</li>
            <li>The Pro Vice Chancellor</li>
            <li>All Deans</li>
            <li>All Heads of Academic Departments and Centres</li>
            <li>Professors</li>
            <li>Senior Members of Council who are not members of the Academic Board in any other capacity</li>
            <li>One member not below the rank of Associate Professor elected from each Faculty by the Senior Members of
                the Faculty.
                Where there are no Senior Members of professorial status, a senior lecturer shall be elected
            </li>
            <li>The Registrar shall be the Secretary to the Board</li>
        </ul>
        <div class="relative overflow-x-auto shadow-sm sm:rounded-lg items-center  justify-center w-1/2 m-7 mx-auto rounded">
        </div>
    </div>

</div>