<div class="relative pt-6 overflow-x-auto shadow-md sm:rounded-lg justify-between w-2/3 m-7 mx-auto bg-white rounded">
<table class="table-auto">
<thead class="text-xs text-gray-700 uppercase bg-gray-50 p-2 m-2 dark:bg-gray-700 dark:text-gray-400">
<tr>
<th scope="col" class="px-6 py-3">
Description
</th>
<th scope="col" class="px-6 py-3">
Download
</th>
<th scope="col" class="px-6 py-3">
Upload Date
</th>
</tr>
</thead>
<tbody>
{% for meeting in meetings %}
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
{{ meeting.description }}
</th>
<td class="px-6 py-4">
<a
{% if user.is_authenticated %}
{% if meeting.status is SPECIAL and perms.users.is_special %}
href="{{ meeting.document.url }}"
{% elif meeting.status is REGULAR and perms.users.is_regular %}
href="{{ meeting.document.url }}"
{% endif %}
{% else %}
href="#"
{% endif %}
href="{{ meeting.document.url }}"
class="bg-green-500 text-white p-2 rounded hover:underline" target="_blank">Download</a>
</td>
<td class="px-6 py-4">
{{ meeting.publish }}
</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>